@media (max-width:799px) {
    * {
        margin: 0;
        padding: 0;
        /* box-sizing: border-box; */
        overflow-x: hidden;
        /* top: 0; */
        /* left: 0; */
    }

    body {
        width: 100%;
    }

    .section-p1 {
        padding: 40px 40px;
    }

    /* here is our navbar code start ------- */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        /* right: 0px; this is show the navbar  */
        right: -300px;
        /* its hide the navbar */
        height: 100vh;
        width: 300px;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: 0.7s ease;
    }

    #navbar.active {
        right: 0px;

    }

    #navbar li {
        margin-bottom: 25px;
        /* border: 2px solid red; */
        /* height: 35px; */
    }

    #moblie {
        display: flex;
        align-items: center;
    }

    #moblie i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        position: absolute;
        display: initial;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }

    /* here is our navbar code ends -------------------- */


    /* here is our hero section code start ----- */
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    /* here is our her code ends ------------ */

    /* here is our feature code start ---- */
    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px 15px;
    }

    /* here is our feature code ends ------- */


    /* here is our product1 code start ------------- */
    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    /* here is our product1 section code ends ------ */

    /* here is our banner1 code start -------- */
    #banner {
        height: 25vh;
    }

    #banner h4 {
        font-size: 20px;
    }

    #banner h2 {
        font-size: 30px;
    }

    /* here is our banner1 code ends ------- */



    /* here is our sm-banner code starts ---- */
    #sm-banner .banner-box1 {
        min-width: 100%;
        height: 30vh;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: none;
    }

    #sm-banner .banner-box2 {
        min-width: 100%;
        background-size: cover;
        height: 30vh;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-top: none;
    }

    /* here is our sm-banner code ends ----- */


    /* here is our banner3 code starts -------- */
    #banner3 {
        padding: 0px 40px;
    }

    #banner3 .img-cont1 {
        padding: 0px 10px;
        width: 28%;
        height: 35vh;
    }

    #banner3 .img-cont2 {
        padding: 0px 10px;
        width: 28%;
        height: 35vh;
    }

    #banner3 .img-cont3 {
        padding: 0px 10px;
        width: 28%;
        height: 35vh;
    }

    /* here is our banner3 code ends -------- */


    /* here is our new letter code starts ---- */
    #newletter {
        /* border: 2px solid red; */
        display: flex;
        padding: 20px 15px;
        text-align: center;
        justify-content: center;
        /* flex-wrap: wrap; */
        height: 30vh;
    }

    .newstext {
        /* border: 2px solid rgb(255, 0, 0); */
    }

    .form {
        /* border: 2px solid red; */
        width: auto;
        /* margin-top: 10px; */
        height: auto;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .form button {
        font-size: 30px;
        /* margin-top: 10px; */
        padding: 12.5px 30px;
    }

    /* here is our newsletter code ends --------------- */

    /* here iso ur footer sectin code starts ---------- */
    .footer {
        flex-wrap: wrap;
        /* border: 2px solid red; */
    }

    .footer .install .row img {
        height: 50px;
        width: 15vw;
    }
}








/* here is our mobile view code starts ---------------------- */
@media (max-width: 477px) {

    /* here is our navbar code starts -------- */
    #header {
        padding: 10px 30px;
    }

    /* here is our navbar code ends ------------ */


    /* here is our hero section code starts ------------- */
    #hero {
        /* border: 2px solid red; */
        padding: 0 20px;
        background-position: 55%;
        justify-content: center;
        align-items: first flex-start;
    }

    #hero h2 {
        font-size: 35px;
        /* border: 2px solid red; */
    }

    #hero h1 {
        font-size: 45px;
    }

    /* here is our heo code ends ----------------- */

    /* here is our feacture section code starts ------ */
    #feature {
        /* border: 2px solid red; */
        padding: 20px;
        justify-content: space-between;

    }

    #feature .fe-box {
        /* border: 2px solid red; */
        width: 155px;
        height: 200px;
        margin: 0 0 15px 0;
    }

    /* here is our feacture code ends ----- */


    /* here is our product 1 code starts -- */
    #product1 .pro {
        width: 100%;
    }

    /* here is our product 1 code ends ----- */



    /* here is our banner 1 code starts ---- */
    #banner {
        /* border: 2px solid red; */
    }

    #banner h4 {
        color: #1f1414;
        /* border: 2px solid red; */
        font-size: 17px;
        /* margin-top: 10px; */
        line-height: normal;
    }

    #banner h2 {
        font-size: 20px;
        line-height: normal;
    }

    /* here is our banner 1 code ends ----- */


    /* here is our banner 2 code satrts ---- */
    #sm-banner .banner-box1 {
        align-items: flex-start;
        padding-left: 10px;
        height: 40vh;
        position: relative;
        background-image: none;
    }

    #sm-banner .banner-box1::before {
        content: '';
        background-image: url(images/Banner/smbanner2.avif);
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0.4;
    }

    .banner-box1 h4 {
        isolation: isolate;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }

    .banner-box1 h2 {
        font-size: 45px;
        color: rgb(0, 0, 0);
        isolation: isolate;
        font-weight: 800;
    }

    .banner-box1 span {
        font-size: 14px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-weight: 800;
        padding-bottom: 15px;
    }
    .banner-box1  button{
        font-weight: 800;
    }


    #sm-banner .banner-box2 {
        align-items: flex-start;
        padding-left: 10px;
        height: 40vh;
        position: relative;
        background-image: none;
    }

    #sm-banner .banner-box2::before {
        content: '';
        background-image: url(images/Banner/smbanner1.avif);
        background-size: cover;
        position: absolute;
        inset: 0;
        opacity: 0.4;
    }

    .banner-box2 h4 {
        isolation: isolate;
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 700;
    }

    .banner-box2 h2 {
        font-size: 45px;
        color: rgb(0, 0, 0);
        isolation: isolate;
        font-weight: 800;
    }

    .banner-box2 span {
        font-size: 14px;
        margin-top: 10px;
        color: rgb(0, 0, 0);
        font-weight: 800;
        padding-bottom: 15px;
    }
    .banner-box2  button{
        font-weight: 800;
    }

}