@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h5 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

/* NAV PAGE -------------------*/

/* this is our nav bar code start .............................*/
.nav-logo {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

#header {
    position: sticky;
    z-index: 999;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 50px;
    background: #ede9e9;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style-type: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: 16px;
    font-size: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}


/* HOME PAGE ------------------- */

/* this is our nav bar code end .............................*/



/* here is our her section code start .................... */
#hero {
    /* background-image: url("images/hero4image/bg\ img.jpg"); */
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0%;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    color: #088178;
}

#shopnow-btn {
    border-radius: 50%;
    width: 5vh;
    height: auto;
}

#hero button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 15px;
    border: 2px solid #088178;
    font-weight: 700;
    font-size: 15px;
    box-shadow: -4px 4px 5px;
    transition: 0.2s ease;
}

#hero button:hover {
    background-color: #08817964;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(2, 1, 1);
    box-shadow: -4px 4px 15px;
}

#feature {
    /* border: 2px solid blue; */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#feature .fe-box {
    width: 180px;
    height: 250px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cdebbc;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}

/* here is our hero section code ends  ...........0 */


/* here is our product code start  ---------- */

#product1 {
    text-align: center;
    /* border: 2px solid red; */
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    background-color: #b9c0c345;
}

#product1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span {
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .Cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/* here we completer our product section ,,,,,,,,,, */


/* here we can start our banner code  */

#banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 25px;
    justify-content: center;
    background: url(images/Banner/banner\ background.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner h4 {
    color: #1f1414;
    font-size: 16px;
    padding-bottom: 25px;
    font-weight: 700;
}

#banner h2 {
    color: #03322e;
}

#banner button {
    padding: 10px 25px;
    margin-top: 20px;
    font-size: 25px;
    cursor: pointer;
    background-color: #030c0b6e;
    color: white;
    border: 1px solid rgba(0, 255, 247, 0.566);
    font-weight: 700;
}

/* here is our banner code ends .............. */



/* here is our sm banner code start ............................... */
#sm-banner {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#sm-banner .banner-box1 {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-left: 25px; */
    padding-right: 20px;
    justify-content: center;
    background: url(images/Banner/smbanner1.avif);
    width: 47%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-box1 h4 {
    font-size: 20px;
    color: white;
    font-weight: 300;
}

.banner-box1 h2 {
    font-size: 45px;
    color: white;
    font-weight: 800;
}

.banner-box1 span {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(69, 66, 66);
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box2 {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* padding-left: 25px; */
    padding-right: 20px;
    justify-content: center;
    background: url(images/Banner/smbanner2.avif);
    width: 47%;
    /* height: 500px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-box2 h4 {
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 300;
}

.banner-box2 h2 {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.banner-box2 span {
    font-size: 14px;
    margin-top: 10px;
    color: rgb(69, 66, 66);
    font-weight: 500;
    padding-bottom: 15px;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #000000;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    transition: 0.2s ease;
}

#sm-banner .banner-box1:hover button {
    background-color: #088178;
    color: wheat;
    border: 1px solid #088178;
}

#sm-banner .banner-box2:hover button {
    background-color: #088178;
    color: wheat;
    border: 1px solid #088178;
}

/* here is our banner 2 code ends -------------------------------- */


/* here is our banner 3 code starts ------------------------------ */
#banner3 {
    /* border: 2px solid red; */
    height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

#banner3 .img-cont1 {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: #000000fe;
    min-width: 30%;
    height: 40vh;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .img-cont1::before {
    content: '';
    background-image: url(images/Banner/b3\ 1.jpg);
    background-size: cover;
    position: absolute;
    inset: 0;
    opacity: 0.4;

}


#banner3 .img-cont1:hover {
    cursor: pointer;
    box-shadow: -1px 1px 30px rgba(0, 0, 0, 0.538);
}

#banner3 .img-cont1 h2 {
    font-size: 25px;
    isolation: isolate;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

#banner3 .img-cont1 h3 {
    font-weight: 15px;
    isolation: isolate;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#banner3 .img-cont2 {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    background-color: #000000;
    min-width: 30%;
    height: 40vh;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .img-cont2::before {
    background: url(images/Banner/b3\ 2.jpeg);
    background-size: cover;
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0.4;
}

#banner3 .img-cont2:hover {
    cursor: pointer;
    box-shadow: -1px 1px 30px rgba(0, 0, 0, 0.538);
}

#banner3 .img-cont2 h2 {
    isolation: isolate;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

#banner3 .img-cont2 h3 {
    isolation: isolate;
    font-weight: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#banner3 .img-cont3 {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #000000;
    min-width: 30%;
    position: relative;
    height: 40vh;
    padding: 20px;
    margin-bottom: 20px;
}

#banner3 .img-cont3::before {
    background: url(images/Banner/b3\ 3.jpeg);
    background-size: cover;
    content: "";
    position: absolute;
    inset: 0;
    opacity: 0.5;
}

#banner3 .img-cont3:hover {
    cursor: pointer;
    box-shadow: -1px 1px 30px rgba(0, 0, 0, 0.538);
}

#banner3 .img-cont3 h2 {
    isolation: isolate;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 800;
}

#banner3 .img-cont3 h3 {
    isolation: isolate;
    font-weight: 15px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

/* here our banner 3 code ends ------------- */


/* here is our email new letter ----------- */
#newletter {
    /* border: 2px solid red; */
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    background-image: url(images/Newsletter/Newsletter\ bacground.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;
}

#newletter .newstext h4 {
    font-size: 25px;
    font-weight: 800;
    color: white;

}

#newletter .newstext p {
    font-size: 19px;
    font-weight: 700;
    color: white;
}

.form {
    /* border: 2px solid red; */
    height: 17vh;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form input {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 25px;
    font-weight: 700;
    padding: 15px 30px;
    outline: hidden;
}

.form button {
    font-size: 25px;
    border: 1px solid rgb(0, 0, 0);
    background-color: #088178;
    color: white;
    white-space: nowrap;
    padding: 15px 30px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 700;
    cursor: pointer;

}

/* here is our email code ends ------------------ */

.ftrlogoimg {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.install img {
    border: 2px solid red;
    width: 15vw;
    height: 20vh;
    cursor: pointer;
    /* scale: 1.1; */
    /* box-shadow: 5px 5px 15px; */
}

.footer {
    margin-top: 30px;
    margin-bottom: 30px;
    border: 2px solid red;
    padding: 30px 50px;
    display: flex;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

footer .about,
.account,
.install {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .about a {
    margin: 20px 0px;
    list-style-type: none;
    text-decoration: none;
    color: #000000c5;
}

footer .account a {
    margin: 20px 0px;
    list-style-type: none;
    text-decoration: none;
    color: #000000c5;

}

footer .install a {
    list-style-type: none;
    text-decoration: none;
}